@use "src/styles/scss/mixins";

.header {
  /* margin-top: 48px;
  margin-bottom: 72px;
  
  @include mixins.lg {
    margin-top: 0;
    margin-bottom: 48px;
  } */
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 56px;
  width: 100%;

  @include mixins.lg {
    position: relative;
    justify-content: center;
    margin-bottom: 64px;
    margin-top: 40px;
  }
}
