@use "src/styles/scss/_mixins";

.section {
}

.textContent {
  & > p {
    color: rgb(var(--myrtille));
    margin-bottom: 48px;
  }

  h1 {
    margin-bottom: 48px;
    font-size: 96px;
    font-weight: 500;
    line-height: 112px;
    color: rgb(var(--berry));
  }

  @include mixins.xxl {
    h1 {
      font-size: 72px;
      line-height: 80px;
    }
  }

  @include mixins.xl {
    h1 {
      font-size: 56px;
      line-height: 64px;
    }
  }
}

.socials {
  display: flex;
  gap: 24px;

  a {
    &:hover {
      rect {
        fill: rgb(var(--leaf));
      }
      path {
        fill: rgb(var(--acid));
      }
    }
  }

  @include mixins.lg {
    justify-content: center;
  }

  @include mixins.sm {
    justify-content: space-between;
    gap: 0;
  }
}

.image {
  height: 100vh;
  display: flex;
  align-items: center;

  .mobi {
    display: none;
  }

  .desk {
    border-radius: 48px;
    width: 100%;
    height: calc(100vh - 88px);
  }

  @include mixins.lg {
    height: auto;
    margin-top: 48px;
    justify-content: center;

    .mobi {
      display: block;
      border-radius: 24px;
      max-width: 100%;
    }

    .desk {
      display: none;
    }
  }
}
