@use "mixins";

.btn {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  height: 56px;
  padding: 0 24px;
  border-radius: 48px;
  background-color: #00aeef;
  color: white;

  @include mixins.lg {
    padding: 0 18px;
    height: 40px;
    gap: 8px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  transition: all 350ms;
  position: relative;

  path, rect {
    transition: 350ms;
  }
}
