:root {
  /* color styles */
  --myrtille: 0, 26, 112;
  --rose: 255, 173, 227;
  --berry: 187, 41, 187;
  --sable: 253, 246, 230;
  --jaune: 255, 182, 0;
  --acid: 225, 224, 0;
  --corail: 255, 86, 0;
  --leaf: 0, 187, 126;
}
